<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport"> 
	
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <!--  	-->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<script type="text/javascript" src="../js/service/homeService.js"></script>
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/homeController.js"></script>

    
</body>
   
  
   
   
   
   
</head>

<body class="hold-transition skin-blue sidebar-mini"   
ng-app="pinyougou" ng-controller="homeController" 
ng-init="lodnMonthPanel()">

   <!-- 内容区域 -->


            <!-- 内容头部 /-->

    <div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators" id="luntozhibiao">
        <li data-target="#myCarousel" data-slide-to="{{$index}}" 
         ng-repeat="entity in list"  ng-class="{'active':isActive($index)}" ></li>
    </ol>   
    
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner" id="indexLunBo">
        <div class="item " ng-repeat="entity in list"  ng-class="{'active':isActive($index)}" >
            <img src="{{entity.panelurl}}" alt="First slide" height="1000px;">
        </div>
        
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" 
       data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
    <a class="carousel-control right" href="#myCarousel" 
       data-slide="next">&rsaquo;</a>
</div>
        <!-- 内容区域 /-->
</body>

</html>