<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>财务系统后台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/adminLTE/js/app.min.js"></script>
    
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	
	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<script type="text/javascript" src="../js/service/loginService.js"></script>
	 <script type="text/javascript" src="../js/service/monthService.js">  </script>
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/indexController.js"></script>
    
    <script type="text/javascript">   
		 function SetIFrameHeight(){
		  	  var iframeid=document.getElementById("iframe"); //iframe id
		  	  if (document.getElementById){
		  		iframeid.height =document.documentElement.clientHeight-55;			   	   
			  }
		 }
    
	</script>    
 
</head>

<body class="hold-transition skin-green sidebar-mini" ng-controller="indexController"  
ng-app="pinyougou"  ng-init="getLoginMess()">

    <div class="wrapper" >

        <!-- 页面头部 -->
        <header class="main-header">
            <!-- Logo -->
            <a href="index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>财务</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>  财务系统后台</b>
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu" style="margin-top: 15px;">
                                <span class="label label-success " style="font-size: 20px; text-align: center;" >
                                	{{userType[loginUser.type]}}</span>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img  src="{{loginUser.avatar}}" class="user-image" alt="User Image">
                                <span class="hidden-xs"> {{loginUser.username}} 
                                 
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="{{loginUser.avatar}}" class="img-circle" >

                                    <p>
                                         {{loginUser.username}}   
                                        <small>上次登录: {{loginUser.fromDate}}</small>
                                    </p>
                                </li>
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat"  data-toggle="modal"
                                         data-target="#editUser" ng-click="setUserMess()" >修改资料</a>
                                    </div>
                                    <div class="pull-right">
                                        <a ng-click="logout()" class="btn btn-default btn-flat">注销</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- 页面头部 /-->

        <!-- 导航侧栏 -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">


                <ul class="sidebar-menu"  >
                    <li id="admin-index"><a href="index.html"><i class="fa fa-dashboard"></i> <span>后台首页</span></a></li>

				  <li class="treeview">
				        <a href="#">
				            <i class="fa fa-folder"></i> 
				            <span>财务管理</span>
				            <span class="pull-right-container">
				       			<i class="fa fa-angle-left pull-right"></i>
				   		 	</span>
				        </a>
				        <ul class="treeview-menu">
						
							<li id="admin-login">
				                <a href="content.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>财务明细 
				                </a>
				            </li>
				            <li id="admin-login">
				                <a href="chartPanel.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>年度报表
				                </a>
				            </li>
				            
				              <li id="admin-login">
				                <a href="month.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>月度报表
				                </a>
				            </li>
				        </ul>                        
				    </li>
				    
				    
				    <li class="treeview"  ng-if ="loginUser.type < 2 ">
				        <a href="#">
				            <i class="fa fa-folder"></i> 
				            <span>数据维护</span>
				            <span class="pull-right-container">
				       			<i class="fa fa-angle-left pull-right"></i>
				   		 	</span>
				        </a>
				        <ul class="treeview-menu">
						
						
							<li id="admin-login" >
				                <a  href="building.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>楼栋管理
				                </a>
				            </li>
				            
				            
				            <li id="admin-login" >
				                <a  href="house.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>房源管理
				                </a>
				            </li>
						
				            <li id="admin-login" >
				                <a  href="financial.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>财务类型
				                </a>
				            </li>
				            
				            <li id="admin-login">
				                <a href="backimage.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>报表背景
				                </a>
				            </li>
				            
				        </ul>                        
				    </li>
				    <!-- 菜单 /-->
				     <li class="treeview"  ng-if ="loginUser.type < 2 ">
				        <a href="#">
				            <i class="fa fa-folder"></i> 
				            <span>用户管理</span>
				            <span class="pull-right-container">
				       			<i class="fa fa-angle-left pull-right"></i>
				   		 	</span>
				   		 	 <ul class="treeview-menu">
						
						
							<li id="admin-login" >
				                <a  href="user.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>用户列表
				                </a>
				            </li>
				            
				            
						
				            <li id="admin-login" >
				                <a  href="payexpert.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>分期管理
				                </a>
				            </li>
				            
				            <li id="admin-login">
				                <a href="backimage.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>报表背景
				                </a>
				            </li>
				            
				        </ul>                 
				        </a>
				    </li>
				    
				    
				       <li class="treeview"  ng-if ="loginUser.type < 2 ">
				        <a href="#">
				            <i class="fa fa-folder"></i> 
				            <span>基础数据</span>
				            <span class="pull-right-container">
				       			<i class="fa fa-angle-left pull-right"></i>
				   		 	</span>
				   		 <ul class="treeview-menu">
						
							<li id="admin-login" >
				                <a  href="building.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>楼栋管理
				                </a>
				            </li>
				            <li id="admin-login" >
				                <a  href="house.html" target="iframe">
				                    <i class="fa fa-circle-o"></i>房源管理
				                </a>
				            </li>
				        </ul>                 
				        </a>
				    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- 导航侧栏 /-->

        <!-- 内容区域 -->
        <div class="content-wrapper">
			<iframe width="100%" id="iframe" name="iframe"	onload="SetIFrameHeight()" 
					frameborder="1" src="home.html"></iframe>
        </div>
        
        <!-- 内容区域 /-->

      

    </div>
    
    
<!-- 编辑窗口 -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content" style="width: 98% ;margin-top: -120px;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">编辑个人资料</h3>
		</div>
		<div class="modal-body" >	
		
		 <label for="name">电话号码</label>
		 <input type="text" class="form-control "  
			   		ng-model="entity.telephone"			placeholder="输入电话号码"> 			
			
		 <label for="name">登录账号</label>
		 <input type="text" class="form-control "  
			   		ng-model="entity.username"			placeholder="输入登录账号"> 	
			   		
		 <label for="name">登录密码</label>
		 <input type="text" class="form-control "  
			   		ng-model="entity.newword"			placeholder="输入新的密码"> 	
			   		
		 <label for="name">原始密码</label>
		 <input type="text" class="form-control "  
			   		ng-model="entity.password"			placeholder="输入原始密码"> 
			   		
			   		
		 <label for="name">用户头像</label>
		 <input type="file" id="file" />
		 <img  src="{{loginUser.avatar}}" width="100px" height="100px">				                
         <button ng-click="uploadFile()" class="btn btn-primary" type="button" >
           		上传
         </button>
         <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="updateUser()">保存</button>
		</div>
	  </div>
	</div>
</div>    






</body>

</html>