<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webproject.mapper.FinancialMapper" >
  <resultMap id="BaseResultMap" type="com.webproject.entity.Financial" >
    <id column="financialid" property="financialid" jdbcType="VARCHAR" />
    <result column="fatherid" property="fatherid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="categoryname" property="categoryname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    financialid, fatherid, type, categoryname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.webproject.entity.FinancialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from financial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from financial
    where financialid = #{financialid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from financial
    where financialid = #{financialid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.webproject.entity.FinancialExample" >
    delete from financial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.webproject.entity.Financial" >
    insert into financial (financialid, fatherid, type, 
      categoryname)
    values (#{financialid,jdbcType=VARCHAR}, #{fatherid,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{categoryname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.webproject.entity.Financial" >
    insert into financial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="financialid != null" >
        financialid,
      </if>
      <if test="fatherid != null" >
        fatherid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="categoryname != null" >
        categoryname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="financialid != null" >
        #{financialid,jdbcType=VARCHAR},
      </if>
      <if test="fatherid != null" >
        #{fatherid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="categoryname != null" >
        #{categoryname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.webproject.entity.FinancialExample" resultType="java.lang.Integer" >
    select count(*) from financial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update financial
    <set >
      <if test="record.financialid != null" >
        financialid = #{record.financialid,jdbcType=VARCHAR},
      </if>
      <if test="record.fatherid != null" >
        fatherid = #{record.fatherid,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.categoryname != null" >
        categoryname = #{record.categoryname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update financial
    set financialid = #{record.financialid,jdbcType=VARCHAR},
      fatherid = #{record.fatherid,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      categoryname = #{record.categoryname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.webproject.entity.Financial" >
    update financial
    <set >
      <if test="fatherid != null" >
        fatherid = #{fatherid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="categoryname != null" >
        categoryname = #{categoryname,jdbcType=VARCHAR},
      </if>
    </set>
    where financialid = #{financialid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webproject.entity.Financial" >
    update financial
    set fatherid = #{fatherid,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      categoryname = #{categoryname,jdbcType=VARCHAR}
    where financialid = #{financialid,jdbcType=VARCHAR}
  </update>
</mapper>